.messages {
    &_container {
        font-size: 10px;
        background-color: rgba(221, 221, 221, 0.3);
        border-radius: 10px;
        position: absolute;
        right: 10px;
        bottom: 10px;
        padding: 5px 10px 10px;
        color: #585858;
    }
    &_clear {
        margin-left: auto;
        display: inherit;
        margin-bottom: 5px;
        font-size: 10px;
        padding: 1px 4px;
    }
}