.heroes {
    &_wrapper {
        max-width: 50%;
        margin: 0 auto;
        background-color: rgb(163, 197, 231);
        padding: 10px 40px;
        border-radius: 25px;
    }
    &_title {
        margin-bottom: 10px;
        font-size: 24px;
    }
    &_badge {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(46, 96, 153);
        color: #fff;
        font-size: 18px;
        width: 30px;
        height: 100%;
    }
    &_list {
        list-style: none;
    }
    &_item {
        border: 1px solid rgb(46, 96, 153);
        border-left: none;
        height: 30px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 10px;
        cursor: pointer;
        transition: .3s;
        position: relative;
        a {
            color: inherit;
        }
        button {
            position: absolute;
            right: 3px;
            top: 50%;
            transform: translate(-50%, -50%);
            border: none;
            background: none;
            cursor: pointer;
            transition: .3s;
            &:hover {
                color: red;
            }
        }
        &:hover {
            background-color: rgba(46, 96, 153, 0.1);
        }
        &.selected {
            background-color: rgb(46, 96, 153);
            color: #fff;
        }
    }
    &_adding {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        input {
            border: none;
            background: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.39);
            padding: 4px 20px;
            margin-right: 10px;
            flex-grow: 1;
        }
    }
}